<section class="category">
    <div class="title _anim-items">Shop our latest offers and categories</div>
    <div class="subtitle _anim-items">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque in est dui, aliquam, tempor. Faucibus
            morbi turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="category__content">
        <div class="category__content_left">
            <a href="#">
                <div class="left-one _anim-items">
                    <img src="img/category-laptop.png" alt="">
                    <div class="left-one__content">
                        <div class="left-one__content_text">Laptops</div>
                        <div class="left-one__content_title">True Laptop Solution</div>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="left-two _anim-items">
                    <img src="img/category-watch.png" alt="">
                    <div class="left-two__content">
                        <div class="left-two__content_text">Watch</div>
                        <div class="left-two__content_title">Not just stylisht</div>
                    </div>
                </div>
        </div>
        </a>
        <a href="#">
            <div class="category__content_right">
                <div class="right-one _anim-items">
                    <img src="img/category-phones.png" alt="">
                    <div class="right-one__content">
                        <div class="right-one__content_text">Phones</div>
                        <div class="right-one__content_title">Your day to day life</div>
                    </div>
                </div>
        </a>
        <a href="#">
            <div class="right-two _anim-items">
                <div class="right-two__content">
                    <div class="right-two__content_text">Tablet</div>
                    <div class="right-two__content_title">Empower your work</div>
                </div>
                <img src="img/category-tablet.png" alt="">
            </div>
        </a>
    </div>
    </div>
</section>