<section class="footer">
    <div class="footer__container">
        <div class="footer__container_section">
            <div class="logo">
              <a href=""><img src="../img/logo.svg" alt=""></a>
            </div>
            <div class="subtitle _anim-items">Sign up for texts to be notified about our best offers on the perfect gifts.</div>
        </div>
        <div class="footer__container_section">
           <p>All products</p>
           <ul>
            <li><a href="">Phones</a></li>
            <li><a href="">Watch</a></li>
            <li><a href="">Tablet</a></li>
            <li><a href="">Laptops</a></li>
           </ul>
        </div>
        <div class="footer__container_section">
            <p>Company</p>
            <ul>
             <li><a href="">About</a></li>
             <li><a href="">Support</a></li>
            
            </ul>
         </div>
         <div class="footer__container_section">
            <p>Support</p>
            <ul>
             <li><a href="">Style Guide</a></li>
             <li><a href="">Licensing</a></li>
             <li><a href="">Change Log</a></li>
             <li><a href="">Contact</a></li>
            </ul>
         </div>
         <div class="footer__container_section">
            <p>Follow Us</p>
            <ul>
             <li><a href="">Instagram</a></li>
             <li><a href="">Facebook</a></li>
             <li><a href="">LinkedIn</a></li>
             <li><a href="">Youtube</a></li>
            </ul>
         </div>
    </div>
    <div class="line"><p></p></div>
    <div class="information">
        <p>Made By: Ivan</p>
        <p>Powered by:Webflow</p>
    </div>
</section>