<section class="ideas">
    <div class="title _anim-items">Ideas have a place here</div>
    <div class="subtitle _anim-items"><p>Our new Limited Edition Winter Design BESPOKE 4-Door Flex™</p></div>
    <div class="ideas__content">
        <div class="ideas__content_image">
            <img src="../img/ideas.png" alt="">
        </div>
        <div class="ideas__content_text">
            <p>We Make It Easy To Find The Great Design Talent, Easier...</p>
            <p>Road Design Handbook For The International Road...</p>
            <p>The Best Kept Secrets About Creative People</p>
            <p>We Make It Easy To Find The Great Design Talent, Easier...</p>
        </div>
    </div>

    <div class="all"><a href="#">See all</a> <a href=""><img src="../img/all.svg" alt=""></a>
</section>