<section class="products">
<div class="title _anim-items">Save on our most selled items.</div>
<div class="subtitle _anim-items"><p>Our new Limited Edition Winter Design BESPOKE 4-Door Flex™</p></div>
<div class="products__carts">
    <a href="#">
    <div class="cart _anim-items">
        <div class="cart__image">
            <img loading="lazy" src="img/products-one.png" alt="">
        </div>
        <div class="cart__title">MacBook Pro 13</div>
        <div class="cart__subtitle">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</div>
        <div class="cart__price">$ 1,200.00 USD</div>
    </div>
</a>
<a href="#">
    <div class="cart _anim-items">
        <div class="cart__image">
            <img loading="lazy" src="img/products-two.png" alt="">
        </div>
        <div class="cart__title">Smart Galaxy Watch 3</div>
        <div class="cart__subtitle">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</div>
        <div class="cart__price">$ 199.00 USD</div>
    </div>
</a>
<a href="#">
    <div class="cart _anim-items">
        <div class="cart__image">
            <img loading="lazy" src="img/products-thre.png" alt="">
        </div>
        <div class="cart__title">MacBook Air M1</div>
        <div class="cart__subtitle">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</div>
        <div class="cart__price">$ 1,009.00 USD</div>
    </div>
</a>
<a href="#">
    <div class="cart _anim-items">
        <div class="cart__image">
            <img loading="lazy" src="img/products-four.png" alt="">
        </div>
        <div class="cart__title">iPad</div>
        <div class="cart__subtitle">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</div>
        <div class="cart__price">$ 610.00 USD</div>
    </div>
</a>
</section>