<section class="sing">
    <div class="sing__content">
        <div class="title _anim-items">Never miss a thing</div>
        <div class="subtitle _anim-items">Sign up for texts to be notified about our best offers on the perfect gifts.</div>
        <div class="sing__content_image">
            <img src="../img/sing.png" alt="">
        </div>
        <form class="sing__content_form" action="#">
        <input class="email" type="text" placeholder="you email">
        <button>Sign in</button>
        </form>
        </div>
    </div>
</section>