<section class="hero">
<div class="slider">
    <div class="slide">
        <div class="slide__content">
            <div class="slide__content_title">The new phones are here take a look.</div>
            <div class="slide__content_subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque in est dui, aliquam, tempor. Faucibus morbi turpis.</div>
            <a class="btn">Explore</a>
        </div>
        <div class="slide__photo">
            <img loading="lazy" src="img/slide-photo-one.svg" alt="">
        </div>
    </div>
    <div class="slide">
        <div class="slide__content">
            <div class="slide__content_title">The new phones are here take a look.</div>
            <div class="slide__content_subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque in est dui, aliquam, tempor. Faucibus morbi turpis.</div>
            <a class="btn">Explore</a>
        </div>
        <div class="slide__photo">
            <img loading="lazy" src="img/slide-photo-one.svg" alt="">
        </div>
    </div>
    <div class="slide">
        <div class="slide__content">
            <div class="slide__content_title">The new phones are here take a look.</div>
            <div class="slide__content_subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque in est dui, aliquam, tempor. Faucibus morbi turpis.</div>
            <a class="btn">Explore</a>
        </div>
        <div class="slide__photo">
            <img loading="lazy" src="img/slide-photo-one.svg" alt="">
        </div>
    </div>
</div>

</section>